<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Exercise</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card *ngIf="exercise$ | async as exercise">
        <ion-card-header>
            <ion-card-title class="name">{{exercise.name}}</ion-card-title>
            <ion-card-subtitle class="videoURL">{{exercise.youtubeID}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ng-container *ngIf="exercise.youtubeID && exercise.youtubeID != '' else noVideoURL">
                            <app-youtube-player [videoID]="exercise.youtubeID"></app-youtube-player>
                        </ng-container>
                        <ng-template #noVideoURL>
                            <ion-note>No video URL ⚠️</ion-note>
                        </ng-template>
                    </ion-col>
                    <ion-col>
                        <ion-label>Instructions</ion-label>
                        <ion-row>
                            <ion-textarea class="instructions">{{(exercise$ | async)?.instructions}}</ion-textarea>
                        </ion-row>
                    </ion-col>
                </ion-row>

               
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
