<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Clients</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let client of clientList$ | async"  [routerLink]="'/profile/'+client.id">
            <ion-avatar><img [src]="getAvatar(client)"/></ion-avatar>
            <ion-label>{{client.firstName}} {{client.lastName}}</ion-label>
            <ion-label>Trainer: {{client.assignedTrainer ? client.assignedTrainer : 'unassigned ⚠️'}}</ion-label>
            <ion-label>Program: {{client.assignedProgram ? client.assignedProgram : 'unassigned ⚠️'}}</ion-label>
            <ion-note>Joined: {{getDateFromTimestamp(client.joined) | date}} <br/><span *ngIf="client.birthday">Birthday : {{getDateFromTimestamp(client.birthday) | date}}</span></ion-note>
        </ion-item>
    </ion-list>
</ion-content>
