    <ion-card>
        <!-- https://youtu.be/ArKy-vqBRcs -->
        <!-- https://www.youtube.com/watch?v=kKN7t18ofMo -->
        <!-- https://www.youtube.com/watch?v=jvtly4gUuYg -->
        <ion-img src="http://i3.ytimg.com/vi/jvtly4gUuYg/hqdefault.jpg"></ion-img>
        <ion-card-header>
            <ion-card-title class="name">{{exercise.name}}</ion-card-title>
            <ion-card-subtitle class="videoURL">{{exercise.youtubeID}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-label>Instructions</ion-label>
            <p class="instructions">{{exercise.instructions}}</p>
        </ion-card-content>
    </ion-card>


    <ng-container *ngIf="exercise.youtubeID && exercise.youtubeID != '' else noVideoURL">
        <!-- <iframe width="100%" height="640" [src]="youtubeID | safe" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </ng-container>

    
    <ng-template #noVideoURL>
        <ion-note>No video URL ⚠️</ion-note>
    </ng-template>