<ion-label>STANDARD PHASE</ion-label>
<ion-row>
    <ion-spinner [hidden]="exercises.dirty || (exerciseList$ | async).length !== 0"></ion-spinner>
    <mat-form-field [hidden]="(exerciseList$ | async).length === 0">
        <mat-label>Exercises</mat-label>
        <mat-select multiple [formControl]="exercises" name="exercises" [compareWith]="compareExercises">
            <mat-option *ngFor="let exercise of (exerciseList$ | async)"
                        [value]="exercise">{{exercise.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="exercises.hasError('required')">At least one Exercise is required.</mat-error>
    </mat-form-field>
</ion-row>
<ion-col sizeXs=12 sizeSm=12 sizeMd=4 [hidden]="orderedList.length === 0">
    <ion-label>Exercise Order:</ion-label>
    <div cdkDropList (cdkDropListDropped)="drop($event)" class="ordered-list">
        <div *ngFor="let exercise of orderedList" cdkDrag class="ordered-box">
            <ion-label><strong>{{exercise.name}}</strong></ion-label>
        </div>
    </div>
</ion-col>
<ion-col sizeXs=12 sizeSm=12 sizeMd=8>
    <div *ngFor="let routineControl of exerciseRoutines.controls; let i = index">
        <ion-label><strong>{{getExerciseName(i)}}</strong></ion-label>
        <form [formGroup]="routineControl">
            <ion-row>
                <ion-col sizeSm=6 sizeMd="2" *ngFor="let key of ['sets', 'reps', '%1rm', 'rpe', 'tempo', 'rest']">
                    <mat-form-field>
                        <mat-label>{{key | uppercase}}</mat-label>
                        <input matInput type="text" [formControl]="routineControl.get(key)"
                               [name]="key"
                               pattern="[0-9\-]+"
                               placeholder="0"
                               autocomplete="off"
                               enterKeyHint="next">
                    </mat-form-field>
                </ion-col>
            </ion-row>
            <!-- <ion-row>
                <ion-col size=6>
                    <mat-checkbox #mmmk>Rest after exercise</mat-checkbox>
                </ion-col>
                <ion-col>
                    <mat-form-field>
                        <mat-label>Rest after exercise (in seconds)</mat-label>
                        <input matInput type="number" [formControl]="routineControl.get('restAfterExercise')"
                               name="restAfterExercise"
                               pattern="[0-9\-]+"
                               placeholder="30"
                               autocomplete="off"
                               enterKeyHint="next">
                    </mat-form-field>
                </ion-col>
            </ion-row> -->
        </form>
    </div>
</ion-col>
