<ion-header>
    <ion-toolbar>
        <ion-title>Copy Workout From Client</ion-title>
        <ion-buttons slot="end">
            <dismiss-modal-button modalID="copy-workout" buttonText="Cancel"></dismiss-modal-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-skeleton-text [hidden]="(clientList$ | async).length !== 0"></ion-skeleton-text>
        <mat-form-field class="client-form-field">
            <mat-label>Choose a Client</mat-label>
            <mat-select [formControl]="clientControl" [compareWith]="compareClients">
                <mat-option *ngFor="let client of (clientList$ | async)"
                            [value]="client">{{client.firstName}} {{client.lastName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="clientControl.hasError('required')">A workout is required</mat-error>
        </mat-form-field>
        <mat-form-field class="client-form-field" *ngIf="clientControl.value != null">
            <mat-label>Choose a Phase</mat-label>
            <mat-select [formControl]="phaseControl">
                <mat-option *ngFor="let phase of clientControl.value['assignedProgram']['phases']; let i = index;"
                            [value]="i">Phase {{i + 1}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="client-form-field" *ngIf="phaseControl.value != null">
            <mat-label>Choose a Workout</mat-label>
            <mat-select [formControl]="workoutControl">
                <mat-option *ngFor="let workout of workoutOptions;"
                            [value]="getWorkoutFromSchedule(phaseControl.value, workout)">{{workout}} {{getWorkoutFromSchedule(phaseControl.value, workout).name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <ion-button type="submit"
                    [disabled]="form.invalid || (requestInProgress$ | async) || !form.touched"
                    expand="full">
            <ion-icon name="fitness"></ion-icon>&nbsp;Copy Workout
        </ion-button>
    </form>
</ion-content>
