<ion-header>
    <ion-toolbar>
        <ion-title>Interval Timer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="(exercises$ | async)">
        <app-youtube-player [videoID]="(exercises$ | async)[exerciseIndex].youtubeID" width="100"></app-youtube-player>

        UP NEXT

        <app-youtube-player [videoID]="(exercises$ | async)[exerciseIndex + 1].youtubeID" width="100"></app-youtube-player>
    </ng-container>

    <countdown #cd [config]="{'leftTime': 10,
        'demand': true, notify: 0}" (event)="handleEvent($event)"></countdown>
    <ion-button (click)="begin()">Begin</ion-button>
    <ion-button (click)="pause()">
        <ion-icon name="pause"></ion-icon>
    </ion-button>
    <ion-button (click)="resume()">
        <ion-icon name="play"></ion-icon>
    </ion-button>
    <!-- <ion-button (click)="stop()" ><ion-icon name="stop"></ion-icon></ion-button> -->
    <ion-button (click)="prev()" [disabled]="exerciseIndex === 0">
        <ion-icon name="play-skip-back"></ion-icon>
    </ion-button>
    <ion-button (click)="next()">
        <ion-icon name="play-skip-forward"></ion-icon>
    </ion-button>
    <ion-button (click)="restart()">
        <ion-icon name="refresh"></ion-icon>Restart Exercise
    </ion-button>
</ion-content>
