<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Calendar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-text-center">
        <ion-col size="4">
            <ion-button (click)="getPrevMonth()" [disabled]="currentMonthNumber === TODAY.toDate().getMonth()">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
            <ion-title>{{getCalendarTitle()}}</ion-title>
        </ion-col>
        <ion-col>
            <ion-button (click)="getNextMonth()" [disabled]="currentMonthNumber === 22">
                <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <div class="calendar">
        <div class="header">
            <div class="day-labels">Sun</div>
            <div class="day-labels">Mon</div>
            <div class="day-labels">Tue</div>
            <div class="day-labels">Wed</div>
            <div class="day-labels">Thu</div>
            <div class="day-labels">Fri</div>
            <div class="day-labels">Sat</div>
        </div>
        <div class="week" *ngFor="let week of calendar; let weekIndex = index">
            <div class="square" myMatchHeight
                 *ngFor="let day of week.days; let dayIndex = index;"
                 [ngClass]="{'outsideThisMonth': outsideThisMonth(day.moment)}">
                <div [ngClass]="{'outsideThisMonth': outsideThisMonth(day.moment), 'today': isToday(day.moment)}"
                     class="date">{{day.date}}</div>
                <br />
                <ion-label *ngIf="getWorkout(day.dateID) as workout" class="workout ion-text-center"
                           (click)="selectWorkout(getWorkout(day.dateID))">WORKOUT</ion-label>
            </div>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <app-workout-info *ngIf="selectedWorkout" [workout]="selectedWorkout"></app-workout-info>
        </ion-row>
    </ion-grid>
</ion-content>
