<h1>Payment History</h1>
<ng-container *ngIf="loading else loaded">
    <ion-spinner></ion-spinner>
</ng-container>

<ng-template #loaded>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <ion-label>Amount</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label>Date</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label>Receipt</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngFor="let charge of charges">
        <ion-row *ngIf="charge.status === 'succeeded'">
            <ion-col size="4">
                <ion-label>{{(charge.amount / 100) | currency}}</ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label>{{getDate(charge.created)}} </ion-label>
            </ion-col>
            <ion-col size="4">
                <ion-label><a [href]="charge.receipt_url" target="_blank">View Receipt</a></ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ng-template>
