<ion-grid>
    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-row>
            <mat-form-field>
                <mat-label>Program Name</mat-label>
                <input matInput type="text" [formControl]="name" name="name"
                       placeholder=""
                       autocomplete="off"
                       enterKeyHint="next"
                       required>
                <mat-error *ngIf="name.hasError('required')">Name is required.</mat-error>
                <mat-error *ngIf="name.hasError('entityIDTaken')">A program named {{name.value}} already exists
                </mat-error>
                <mat-error *ngIf="name.hasError('couldNotReachServer')">Could not reach server. Please check your
                    connection and try again.</mat-error>
                <mat-hint *ngIf="getSlug(name.value).length > 0 && name.enabled">This link will be at
                    /program/{{getSlug(name.value)}}
                </mat-hint>
                <mat-hint *ngIf="name.disabled">Cannot edit the name of an existing program</mat-hint>
            </mat-form-field>
        </ion-row>

        <ion-label>Weekly Schedule</ion-label>
        <ion-row>
            <ion-spinner [hidden]="day1.dirty || (workoutList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(workoutList$ | async).length === 0">
                <mat-label>Day 1 Workout</mat-label>
                <mat-select [formControl]="day1" name="workouts" [compareWith]="compareWorkouts">
                    <mat-option *ngFor="let workout of (workoutList$ | async)"
                                [value]="workout">{{workout.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="day1.hasError('required')">At least one Workout is required.</mat-error>
            </mat-form-field>
        </ion-row>
        <ion-row>
            <ion-spinner [hidden]="day2.dirty || (workoutList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(workoutList$ | async).length === 0">
                <mat-label>Day 2 Workout</mat-label>
                <mat-select [formControl]="day2" name="workouts" [compareWith]="compareWorkouts">
                    <mat-option *ngFor="let workout of (workoutList$ | async)"
                                [value]="workout">{{workout.name}}</mat-option>
                </mat-select>
                <mat-hint [hidden]="day2.value">Rest day</mat-hint>
            </mat-form-field>

        </ion-row>
        <ion-row>
            <ion-spinner [hidden]="day3.dirty || (workoutList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(workoutList$ | async).length === 0">
                <mat-label>Day 3 Workout</mat-label>
                <mat-select [formControl]="day3" name="workouts" [compareWith]="compareWorkouts">
                    <mat-option *ngFor="let workout of (workoutList$ | async)"
                                [value]="workout">{{workout.name}}</mat-option>
                </mat-select>
                <mat-hint [hidden]="day3.value">Rest day</mat-hint>
            </mat-form-field>
        </ion-row>
        <ion-row>
            <ion-spinner [hidden]="day4.dirty || (workoutList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(workoutList$ | async).length === 0">
                <mat-label>Day 4 Workout</mat-label>
                <mat-select [formControl]="day4" name="workouts" [compareWith]="compareWorkouts">
                    <mat-option *ngFor="let workout of (workoutList$ | async)"
                                [value]="workout">{{workout.name}}</mat-option>
                </mat-select>
                <mat-hint [hidden]="day4.value">Rest day</mat-hint>
            </mat-form-field>
        </ion-row>
        <ion-row>
            <ion-spinner [hidden]="day5.dirty || (workoutList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(workoutList$ | async).length === 0">
                <mat-label>Day 5 Workout</mat-label>
                <mat-select [formControl]="day5" name="workouts" [compareWith]="compareWorkouts">
                    <mat-option *ngFor="let workout of (workoutList$ | async)"
                                [value]="workout">{{workout.name}}</mat-option>
                </mat-select>
                <mat-hint [hidden]="day5.value">Rest day</mat-hint>
            </mat-form-field>
        </ion-row>
        <ion-row>
            <ion-spinner [hidden]="day6.dirty || (workoutList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(workoutList$ | async).length === 0">
                <mat-label>Day 6 Workout</mat-label>
                <mat-select [formControl]="day6" name="workouts" [compareWith]="compareWorkouts">
                    <mat-option *ngFor="let workout of (workoutList$ | async)"
                                [value]="workout">{{workout.name}}</mat-option>
                </mat-select>
                <mat-hint [hidden]="day6.value">Rest day</mat-hint>
            </mat-form-field>
        </ion-row>
        <ion-row>
            <ion-spinner [hidden]="day2.dirty || (workoutList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(workoutList$ | async).length === 0">
                <mat-label>Day 7 Workout</mat-label>
                <mat-select [formControl]="day7" name="workouts" [compareWith]="compareWorkouts">
                    <mat-option *ngFor="let workout of (workoutList$ | async)"
                                [value]="workout">{{workout.name}}</mat-option>
                </mat-select>
                <mat-hint [hidden]="day7.value">Rest day</mat-hint>
            </mat-form-field>
        </ion-row>
        

        <ion-button type="submit"
                    [disabled]="form.invalid || (requestInProgress$ | async)"
                    expand="full">
            <ion-icon name="fitness"></ion-icon>&nbsp;{{buttonText}}
        </ion-button>
    </form>
</ion-grid>
