<ion-grid>
    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-row>
            <mat-form-field>
                <mat-label>Program Name</mat-label>
                <input matInput type="text" [formControl]="name" name="name"
                       placeholder=""
                       autocomplete="off"
                       enterKeyHint="next"
                       required>
                <div mat-icon-button matSuffix [hidden]="this.defaultValue === undefined">
                    <mat-icon [ngStyle]="{'color': nameHasChanged() ? 'orange':'green'}">adjust</mat-icon>
                </div>
                <mat-error *ngIf="name.hasError('required')">Name is required.</mat-error>
                <mat-error *ngIf="name.hasError('entityIDTaken')">A program named {{name.value}} already exists
                </mat-error>
                <mat-error *ngIf="name.hasError('couldNotReachServer')">Could not reach server. Please check your
                    connection and try again.</mat-error>
                <mat-hint *ngIf="getSlug(name.value).length > 0 && name.enabled && !isCustom">This link will be at
                    /program/{{getSlug(name.value)}}
                </mat-hint>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <mat-form-field>
                <mat-label>Number of Phases</mat-label>
                <mat-select [formControl]="numberOfPhases">
                    <mat-option *ngFor="let n of getListOfIntegers(26); let i = index" [value]="i + 1">{{i + 1}}</mat-option>
                </mat-select>
                <mat-error *ngIf="name.hasError('required')">Number of Phases is required.</mat-error>
                <mat-error *ngIf="name.hasError('min')">Minimum of 1 Phase per workout</mat-error>
            </mat-form-field>
        </ion-row>


        <ng-container *ngFor="let phaseControl of phases.controls; let phaseIndex = index">
            <ion-label>
                <h3>Phase {{phaseIndex + 1}}</h3>
            </ion-label>

            <form [formGroup]="phaseControl">

                <mat-form-field>
                    <mat-label>Number of Weeks</mat-label>
                    <input matInput type="number" [formControl]="phaseControl.get('lengthInWeeks')"
                           name="sets"
                           min=1
                           max=26
                           autocomplete="off"
                           enterKeyHint="next">
                    <mat-error *ngIf="name.hasError('min')">Minimum of 1 Week per phase</mat-error>
                    <mat-error *ngIf="name.hasError('max')">Maximum of 1 Week per phase</mat-error>

                </mat-form-field>

                <ion-label>Weekly Schedule</ion-label>
                <ng-container *ngFor="let day of getDayList(); let dayIndex = index">
                    <ng-template let-dayControl
                                 [ngTemplateOutletContext]="{ $implicit: getDayControl(day, phaseControl) }"
                                 [ngTemplateOutlet]="t" #t>
                        <ion-row>
                            <mat-form-field class="workout-form-field">
                                <mat-label>Day {{dayIndex + 1}} Workout</mat-label>
                                <mat-select [formControl]="dayControl" [required]="dayIndex === 0">
                                    <div [hidden]="dayControl.value">
                                        <mat-option (click)="createCustomWorkout(dayControl)">Create Workout</mat-option>
                                        <mat-option (click)="subscribeToWorkout(dayControl)">Import Master Workout</mat-option>
                                        <mat-option (click)="copyWorkout(dayControl)">Copy Workout from Client</mat-option>
                                    </div>
                                    <div [hidden]="!dayControl.value">
                                        <mat-option [value]="null">Reset to Rest Day</mat-option>
                                    </div>
                                </mat-select>
                                <mat-error *ngIf="dayControl.hasError('required')">A workout is required for Day 1 of the week
                                </mat-error>
                                <mat-hint [hidden]="dayControl.value || day === 'day1'" [align]="'start'">Rest day</mat-hint>
                                <mat-hint class="reset-phase" [align]="'end'"
                                          [hidden]="!dayControl.value"
                                          (click)="resetControl(dayControl)">Reset</mat-hint>
                            </mat-form-field>
                            <workout-preview *ngIf="dayControl.value && dayControl.value.exercises" [workout]="dayControl.value"></workout-preview>
                            <ion-button [hidden]="!dayControl.value" (click)="editCustomWorkout(dayControl)">Edit Workout</ion-button>
                        </ion-row>
                    </ng-template>
                </ng-container>
            </form>
        </ng-container>

        <ion-button type="submit"
                    [disabled]="form.invalid || (requestInProgress$ | async) || !form.touched"
                    expand="full">
            <ion-icon name="calendar-outline"></ion-icon>&nbsp;{{buttonText}}
        </ion-button>
    </form>
</ion-grid>
