<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button defaultHref="/foods"></ion-back-button>
        </ion-buttons>
        <ion-title>Food</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="food$ | async as food">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        <ion-card-header>
            <ion-card-title class="name">{{food.name}}</ion-card-title>
            <ion-card-subtitle class="photoURL">{{food.photoURL}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col size="12" sizeMd="6">
                    <ion-img style="width:300px; height:300px;"
                             src="https://toppng.com/uploads/preview/clipart-free-seaweed-clipart-draw-food-placeholder-11562968708qhzooxrjly.png">
                    </ion-img>
                </ion-col>
                <ion-col size="12" sizeMd="6">
                    <ion-row>
                        <ion-chip>Calories&nbsp;&nbsp;&nbsp;&nbsp;<ion-badge color="danger">{{food.calories}}
                            </ion-badge>
                        </ion-chip>
                    </ion-row>
                    <ion-row>
                        <ion-chip>Carbs&nbsp;&nbsp;&nbsp;&nbsp;<ion-badge color="secondary">{{food.carbs}}</ion-badge>
                        </ion-chip>
                    </ion-row>
                    <ion-row>
                        <ion-chip>Fats&nbsp;&nbsp;&nbsp;&nbsp;<ion-badge color="tertiary">{{food.fats}}</ion-badge>
                        </ion-chip>
                    </ion-row>
                    <ion-row>
                        <ion-chip>Proteins&nbsp;&nbsp;&nbsp;&nbsp;<ion-badge color="success">{{food.protein}}
                            </ion-badge>
                        </ion-chip>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ng-container *ngIf="isTrainer$ | async">
                <!-- <ion-button color="primary" click="requestEdit()">Edit</ion-button> -->
                <ion-button color="danger" (click)="showActionSheetToDelete()">Delete</ion-button>
            </ng-container>

        </ion-card-content>
    </ion-card>
</ion-content>
