<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Workouts</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentModal()"
                        id="create-workout"
                        slot="end">New<ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <span class="ion-text-center" [hidden]="!requestInProgress">
        <ion-spinner></ion-spinner>
    </span>
    <ion-searchbar (ionChange)='search($event)' autocorrect="off" [hidden]="workoutList.length <= 1"></ion-searchbar>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-grid [hidden]="requestInProgress">
        <ion-row>
            <ion-card *ngIf="workoutList.length === 0; else showWorkouts">
                <ion-card-header>No workouts found! Create one!</ion-card-header>
                <ion-card-content>
                    <ion-button (click)="presentModal()">Create New Workout</ion-button>
                </ion-card-content>
            </ion-card>
            <ng-template #showWorkouts>
                <ion-col *ngFor="let workout of workoutList" sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="12">
                    <workout-preview [routerLink]="'/workouts/' + workout.id" [workout]="workout"></workout-preview>
                </ion-col>
            </ng-template>
        </ion-row>
    </ion-grid>
</ion-content>
