<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
            <ion-row>
                <mat-form-field>
                    <mat-label for='name'>Email</mat-label>
                    <input matInput type="email" [formControl]="email" name="email"
                           autocomplete="email"
                           clearInput="true" required
                           color="primary" enterKeyHint="next">
                    <mat-error *ngIf="email.hasError('required') || email.hasError('email')">Please enter a valid email
                    </mat-error>
                </mat-form-field>
            </ion-row>
            <ion-row>
                <mat-form-field>
                    <mat-label for="password">Password </mat-label>

                    <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="password" name="password"
                            autocomplete="new-password"
                           required clearInput="true"
                           color="primary" enterKeyHint="next">
                    <div mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-hint *ngIf="!password.hasError('minlength')">Hint: Your password should be atleast 6 characters!</mat-hint>
                    <mat-error *ngIf="password.hasError('required')">Please choose a password</mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">Password should be atleast 6 characters"
                    </mat-error>
                    <mat-error *ngIf="password.hasError('maxlength')">Password must be a maximum of 128 characters
                    </mat-error>
                </mat-form-field>
            </ion-row>
            <ion-row>
                <mat-form-field>
                    <mat-label for="confirmPassword">Confirm Password </mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" [formControl]="confirmPassword" name="confirmPassword"
                           required clearInput="true"
                           autocomplete="new-password"
                           color="primary" enterKeyHint="go">
                    <div mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your password</mat-error>
                    <mat-error *ngIf="password.hasError('minlength')">Password should be atleast 6 characters"
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('maxlength')">Password must be a maximum of 128 characters
                    </mat-error>
                </mat-form-field>
            </ion-row>
            <mat-error *ngIf="form.hasError('passwordMismatch') && password.dirty && confirmPassword.dirty">The passwords do not match</mat-error>
            <ion-button type="submit" [disabled]="form.invalid">Register</ion-button>
        </form>
    </ion-grid>
</ion-content>
