<ion-grid>
    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-row>
            <mat-form-field>
                <mat-label for='name'>Exercise Name</mat-label>
                <input matInput type="text" [formControl]="name" name="name"
                       placeholder="Barbell Back Squat"
                       autocomplete="off"
                       enterKeyHint="next"
                       required>
                <div mat-icon-button matSuffix [hidden]="this.defaultValue === undefined">
                    <mat-icon [ngStyle]="{'color': nameHasChanged() ? 'orange':'green'}">adjust</mat-icon>
                </div>
                <mat-error *ngIf="name.hasError('required')">An exercise name is required.</mat-error>
                <mat-error *ngIf="name.hasError('entityIDTaken')">An exercise named {{name.value}} already exists
                </mat-error>
                <mat-error *ngIf="name.hasError('couldNotReachServer')">Could not reach server. Please check your
                    connection and try again.</mat-error>
                <mat-hint *ngIf="getSlug(name.value).length > 0 && name.enabled">This link will be at
                    /exercise/{{getSlug(name.value)}}</mat-hint>
                <mat-hint *ngIf="name.disabled">Cannot edit the name of an existing workout</mat-hint>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <mat-form-field>
                <mat-label for="youtubeURL">Youtube Video URL</mat-label>
                <input matInput type="url" [formControl]="youtubeURL" name="youtubeURL"
                       placeholder="https://www.youtube.com/watch?v=sN8AGGLzuUw"
                       autocomplete="off"
                       enterKeyHint="next"
                       required>
                <button *ngIf="youtubeURL.dirty" mat-icon-button matSuffix>
                    <mat-icon [ngStyle]="{'color':youtubeURL.valid ? 'green':'red'}">
                        {{youtubeURL.valid ? 'check' : 'cancel'}}</mat-icon>
                </button>
                <mat-error *ngIf="youtubeURL.hasError('required')">A valid Youtube URL is required.</mat-error>
                <mat-error *ngIf="youtubeURL.hasError('pattern')">The URL you provided is not a valid Youtube link
                </mat-error>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <mat-form-field>
                <mat-label for='instructions'>Instructions</mat-label>
                <textarea matInput type="text" [formControl]="instructions" name="instructions"
                          placeholder="Push your body up"
                          autocomplete="off"
                          enterKeyHint="done"></textarea>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <ion-spinner [hidden]="alternateIDs.dirty || (exerciseList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(exerciseList$ | async).length === 0">
                <mat-label>Alternate Exercise(s)</mat-label>
                <mat-select multiple [formControl]="alternateIDs" name="alternateIDs"
                            [compareWith]="compareExerciseIDs">
                    <mat-option *ngFor="let exercise of (exerciseList$ | async)"
                                [value]="exercise.id">{{exercise.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </ion-row>


        <ion-button type="submit"
                    [disabled]="form.invalid || (requestInProgress$ | async) || form.untouched"
                    expand="full">
            <ion-icon name="barbell"></ion-icon>&nbsp;{{buttonText}}
        </ion-button>
    </form>
</ion-grid>
