<ion-header>
    <ion-toolbar>
        <ion-title>New Exercise Form</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
            <ion-row>
                <mat-form-field>
                    <mat-label for='name'>Exercise Name</mat-label>
                    <input matInput type="text" [formControl]="name" name="name"
                           placeholder="Barbell Back Squat"
                           enterKeyHint="next"
                           required>
                    <mat-error *ngIf="name.hasError('required')">Name is required.</mat-error>
                </mat-form-field>
            </ion-row>

            <ion-row>
                <mat-form-field>
                    <mat-label for="youtubeURL">Youtube Video URL</mat-label>
                    <input matInput type="text" [formControl]="youtubeURL" name="youtubeURL"
                           placeholder="https://www.youtube.com/watch?v=sN8AGGLzuUw"
                           color="primary"
                           enterKeyHint="next"
                           required>
                    <mat-icon *ngIf="youtubeURL.dirty">{{youtubeURL.valid ? 'check' : 'cancel'}}</mat-icon>
                    <mat-error *ngIf="youtubeURL.hasError('required')">A valid Youtube URL is required.</mat-error>
                    <mat-error *ngIf="youtubeURL.hasError('pattern')">The URL you provided is not a valid Youtube link
                    </mat-error>
                </mat-form-field>
            </ion-row>

            <ion-row>
                <mat-form-field>
                    <mat-label for='instructions'>Instructions</mat-label>
                    <textarea matInput type="text" [formControl]="instructions" name="instructions"
                              placeholder="Push your body up"
                              required 
                              color="primary" 
                              enterKeyHint="done"></textarea>
                </mat-form-field>
            </ion-row>

            <ion-button type="submit" [disabled]="form.invalid || (requestInProgress$ | async)">SUBMIT</ion-button>
        </form>
    </ion-grid>
</ion-content>
