<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Dismiss</ion-button>
        </ion-buttons>
        <ion-title>New Exercise Form</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
            <ion-row>
                <mat-form-field appearance="fill">
                    <mat-label for='name'>Exercise Name</mat-label>
                    <input matInput type="text" [formControl]="name" name="name" placeholder="Push-Up"
                           clearInput="true" required
                           color="primary" enterKeyHint="next">

                    <mat-error *ngIf="name.hasError('required')">Name is required.</mat-error>
                </mat-form-field>
            </ion-row>

            <ion-row>
                <mat-form-field class="example-full-width">
                    <mat-label for="videoURL">Video Src URL</mat-label>
                    <input matInput type="text" [formControl]="videoURL" name="videoURL" placeholder="http:"
                           required clearInput="true"
                           color="primary" enterKeyHint="next">
                </mat-form-field>
            </ion-row>

            <ion-row>
                <mat-form-field class="example-full-width">
                    <mat-label for='instructions'>Instructions</mat-label>
                    <textarea matInput type="text" [formControl]="instructions" name="instructions"
                           placeholder="Push your body up"
                           required clearInput="true"
                           color="primary" enterKeyHint="done"></textarea>
                </mat-form-field>
            </ion-row>

            <ion-button type="submit" [disabled]="form.invalid || (requestInProgress$ | async)">SUBMIT</ion-button>
        </form>
    </ion-grid>
</ion-content>
