<ion-app>
    <ion-split-pane contentId="main-content">
        <!-- Side Menu-->
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list lines="none">
                    <ion-list-header><img src="/assets/icon/logo.png"/></ion-list-header>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngFor="let page of mainPages"
                                  routerDirection="root"
                                  [routerLink]="page.link"
                                  routerLinkActive="selected"
                                  [routerLinkActiveOptions]="{exact:true}">
                            <ng-container *ngIf="page.icon">
                                <ion-icon size="large" slot="start" [icon]="page.icon"></ion-icon>
                            </ng-container>
                            <ng-container *ngIf="page.src">
                                <ion-icon size="large"  slot="start" [src]="page.src"></ion-icon>
                            </ng-container>
                            <ion-label>{{page.label}}</ion-label>
                        </ion-item>

                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngIf="(isAuthenticated$ | async); else notAuthenticated" (click)="logout();">
                            <ion-icon size="large"  slot="start" icon="exit"></ion-icon>
                            <ion-label routerLink>Log Out</ion-label>
                        </ion-item>
                        <ng-template #notAuthenticated>
                            <ion-item *ngFor="let page of accountPages"
                                      routerDirection="root"
                                      [routerLink]="page.link"
                                      routerLinkActive="selected"
                                      [routerLinkActiveOptions]="{exact:true}">
                                <ng-container *ngIf="page.icon">
                                    <ion-icon size="large"  slot="start" [icon]="page.icon"></ion-icon>
                                </ng-container>
                                <ng-container *ngIf="page.src">
                                    <ion-icon size="large"  slot="start" [src]="page.src"></ion-icon>
                                </ng-container>
                                <ion-label>{{page.label}}</ion-label>
                            </ion-item>
                        </ng-template>
                    </ion-menu-toggle>
                </ion-list>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
