<ion-app>
    <ion-split-pane contentId="main-content" [disabled]="(url$ | async) === '/'">
        <!-- Side Menu-->
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list lines="none">
                    <ion-list-header [hidden]="(url$ | async) === '/'">
                        <img class="logo" src="/assets/icon/logo.png" routerLink="/"
                             title="Click to go to landing page">
                    </ion-list-header>
                    <menu-list [items]="mainPages" *ngIf="(url$ | async) !== '/' && (isAuthenticated$ | async) && (iAmTrainer$ | async)"></menu-list>
                    <menu-list [items]="clientPages" *ngIf="(url$ | async) !== '/' && (isAuthenticated$ | async)&& !(iAmTrainer$ | async) "></menu-list>
                    <menu-list [items]="landingPages" *ngIf="(url$ | async) === '/'"></menu-list>
                    <ion-item *ngIf="(isAuthenticated$ | async) && (url$ | async) === '/'" routerLink="/dashboard">
                        <ion-icon size="large" slot="start" icon="speedometer-outline"></ion-icon>
                        <ion-label>Dashboard</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-list lines="none">
                    <ion-item *ngIf="(isAuthenticated$ | async); else notAuthenticated" (click)="logout();" style="cursor:pointer;" >
                        <ion-icon size="large" slot="start" icon="exit"></ion-icon>
                        <ion-label>Log Out</ion-label>
                    </ion-item>
                    <ng-template #notAuthenticated>
                        <menu-list [items]="accountPages"></menu-list>
                    </ng-template>
                </ion-list>
            </ion-footer>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
