<ion-app>
    <ion-split-pane contentId="main-content">
        <!-- Side Menu-->
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list" lines="none">
                    <ion-list-header>Strength Rx Protocols</ion-list-header>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item *ngFor="let item of items"
                                  routerDirection="root"
                                  [routerLink]="item.link"
                                  [ngClass]="{'selected': selectedRoute === item.link}">
                            <ion-icon slot="start" [icon]="item.icon"></ion-icon>
                            <ion-label>{{item.label}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
