<ion-card>
    <ng-container *ngIf="workout.standardPhase.exercises && workout.standardPhase.exercises[0] && workout.standardPhase.exercises[0].youtubeID != '' else noVideoURL">
        <img [src]="getYoutubeThumbnail()"/>
    </ng-container>
    <ng-template #noVideoURL>
        <ion-note>No video URL ⚠️</ion-note>
    </ng-template>

    <ion-card-header>
        <ion-card-title class="name" *ngIf="workout.name">{{workout.name}}</ion-card-title>
        <ion-card-subtitle class="name" *ngIf="workout.standardPhase.exercises && workout.standardPhase.exercises.length">{{workout.standardPhase.exercises.length}} Exercises</ion-card-subtitle>
    </ion-card-header>
</ion-card>
