<ion-content>
    <ion-header #header>
        <ion-toolbar class="ion-text-center">
            <ion-buttons slot="start">
                <ion-menu-button class="ion-hide-sm-up" auto-hide="false"></ion-menu-button>
                <ion-button class="ion-hide-sm-down" (click)="scrollPage('coaches')">Coaches</ion-button>
                <ion-button class="ion-hide-sm-down" (click)="scrollPage('transformations')">Transformations
                </ion-button>
            </ion-buttons>
            <img class="logo" src="/assets/icon/logo.png">
            <ion-buttons slot="end" *ngIf="(isAuthenticated$ | async) === true">
                <ion-button class="ion-hide-sm-down" [routerLink]="'dashboard'">Dashboard</ion-button>
            </ion-buttons>
            <ion-buttons slot="end" *ngIf="(isAuthenticated$ | async) === false" class="ion-hide-sm-down">
                <ion-button [routerLink]="'register'">Join</ion-button>
                <ion-button [routerLink]="'login'">Login</ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>


    <video #video class="ion-hide-md-down" [ngStyle]="{'margin-top': headerHeight+'px', 'max-height': calcVideoHeight() }"
           loop 
           playsinline preload="auto" muted="true" controlslist="nodownload nofullscreen">
        <source
                [src]="getStorageURL('StrengthRx_Protocols_Landing_Muted.webm?alt=media&token=746c5ebb-9657-4cec-9290-d3bd42492941')" />
    </video>

    <img class="ion-hide-md-up" [ngStyle]="{'margin-top': headerHeight+'px', 'max-height': calcVideoHeight() }" src="/assets/img/splash.PNG"/>

    <ion-grid id="coaches" #coaches>
        <h1>Coaches</h1>
        <ion-row>
            <h2>David & Tiffany</h2>
        </ion-row>
        <ion-row>
            <img src="/assets/img/david_tiff2.JPG">
        </ion-row>

        <ion-button [routerLink]="'register'" size="large" class="join-btn center-btn">JOIN US TODAY!</ion-button>

    </ion-grid>
    <section id="transformations" #transformations>
        <h1>Transformations</h1>
        <ion-row>
            <ion-col sizeLg="4" sizeSm="12">
                <app-image-comparison [imageSrcs]="getTransformationImages(1)" start=65>
                </app-image-comparison>
            </ion-col>
            <ion-col sizeLg="4" sizeSm="12">
                <app-image-comparison [imageSrcs]="getTransformationImages(3)">
                </app-image-comparison>
            </ion-col>
            <ion-col sizeLg="4" sizeSm="12">
                <app-image-comparison [imageSrcs]="getTransformationImages(4)" start=35>
                </app-image-comparison>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col sizeLg="4" sizeSm="12">
                <app-image-comparison [imageSrcs]="getTransformationImages(5)" start=45>
                </app-image-comparison>
            </ion-col>
            <ion-col sizeLg="4" sizeSm="12">
                <app-image-comparison [imageSrcs]="getTransformationImages(6)" start=45>
                </app-image-comparison>
            </ion-col>
            <ion-col sizeLg="4" sizeSm="12">
                <app-image-comparison [imageSrcs]="getTransformationImages(2)" start=25>
                </app-image-comparison>
            </ion-col>
        </ion-row>
    </section>
</ion-content>
