<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <img class="logo" src="/assets/icon/logo.png">
    </ion-toolbar>
</ion-header>
<!-- <app-navbar></app-navbar> -->
<video #video loop playsinline preload="auto" muted="true" controlslist="nodownload nofullscreen">
    <source
            src="https://firebasestorage.googleapis.com/v0/b/strengthrx-protocols.appspot.com/o/StrengthRx_Protocols_Landing_HD.mov?alt=media&token=8a17d52d-d1d0-4b02-b465-87b778d2ee1e" />
</video>
