:host {

    overflow-y: scroll;


    ion-header {
        position: fixed;
    }

    video {
        min-width: 100%;
        height: auto;
        max-height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    .logo {
        max-width: 400px;
        width: 100%;
        max-height: 100%;
        cursor: pointer;
        text-align: center;
        margin-right: 75px;
    }

    /**
 * This is a fix for Android, as the poster seems to be zoomed if we don't set object-fit to "none"
 */
    :host-context(.plt-android) video[poster] {
        object-fit: none;
    }

    .menu-label {
        font-size: 24px;
    }

    #join {
        background-image: url(/assets/img/gym_sticker.jpg);
    }

    #coaches {
        position: relative;
        background-size: cover;
        color: black;
    }


    #coaches img {
        max-height: 600px;
        filter: opacity(1);
        margin: 0 auto;
    }

    #coaches::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/img/gym_sticker.jpg);
        filter: opacity(25%);
    }

    #coaches::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: skew(-45deg);
        -ms-transform: skew(-45deg);
        transform: skew(-45deg);
        z-index: -1;
    }

    #services h2 {
        text-align: left;
        text-decoration: underline;
    }

    // #services ul {
    //     font-weight: bold;
    //     font-size: 18px;
    // }

    // #services ul {
    //     background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(56, 128, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
    //     background-clip: text;
    //     -webkit-text-fill-color: transparent;
    // }


    #transformations {
        background-image: url('/assets/img/cool-background.png');
        background-size: cover;
    }

    #transformations ion-col {
        text-align: center;
    }

    h1 {
        font-size: 40px;
        font-family: 'Teko', sans-serif;
        text-transform: uppercase;
        padding-top: 75px;
        padding-bottom: 25px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        font-family: 'Teko', sans-serif;
        text-align: center;
        margin: 0 auto;
    }


    .center-btn {
        display: table;
        margin: 25px auto;
        --background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(56, 128, 255, 1) 100%)
    }

    section {
        padding-bottom: 25px;
    }

    /** Products */
    /* Style the list */
    .product {
        list-style-type: none;
        border: 1px solid #eee;
        background:white;
        margin: 0;
        padding: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    /* Add shadows on hover */
    .product:hover {
        box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2)
    }

    /* Pricing header */
    .product .header {
        background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0%, rgba(56, 128, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
        color: white;
        font-size: 25px;
    }

    /* List items */
    .product li {
        border-bottom: 1px solid #eee;
        padding: 20px;
        text-align: center;
    }

    .product li.gradient {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(56, 128, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        font-size: 18px;
    }

    /* Grey list item */
    .product .grey {
        background-color: #eee;
        font-size: 20px;
    }

}
