<ion-header>
    <ion-toolbar>
        <ion-title>Welcome to Strength Rx Protocols!</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-text-center">
        <ion-card-title>Your in! Thank you for your purchase! </ion-card-title>
        <ion-card-content>
            <ion-card-subtitle>We will begin training on the 10th!</ion-card-subtitle>
            <ion-button [routerLink]="'/profile'">Go to Profile</ion-button>
            <!-- <div
                 style="display:block;margin:auto;padding:0;border:0;outline:0;font-size:12px!important;color:#AAA!important;vertical-align:baseline;background:transparent;width:90%;">
                 <iframe frameborder="0" height="900" scrolling="yes"
                 src="https://www.esigngenie.com/esign/onlineforms/fillOnlineForm?encformnumber=p53%2FU5glmdos0N6ssv4UkQ%3D%3D&type=embed"
                 width="100%"></iframe>
                <div
                     style="font-family: Helvetica, Arial, Verdana, sans-serif;line-height:13px !important;text-align:center;margin-top: 6px !important;">
                    <a href="https://www.esigngenie.com/" target="_blank" style="color:#AAA;text-decoration:none;">Online Signature</a> by
                    eSign Genie
                    ©  •  <a href="https://www.esigngenie.com/terms-of-service/" target="_blank" style="color:#888;">Terms of Service</a>
                     •  <a
                       href="https://www.esigngenie.com/privacy-policy/" target="_blank" style="color:#888;">Privacy Policy</a></div>
            </div> -->


        </ion-card-content>
    </ion-card>
</ion-content>
