<ng-container>
    <h3>Program</h3>
    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-row>
            <mat-form-field class="workout-form-field" [hidden]="defaultProgram">
                <mat-select [formControl]="program">
                    <div>
                        <mat-option (click)="createCustomProgram()">Create Program</mat-option>
                        <mat-option (click)="subscribeToProgram()">Import Master Program</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <program-preview *ngIf="defaultProgram" [program]="defaultProgram" routerLink="program">
            </program-preview>
        </ion-row>
        <ion-row [hidden]="!defaultProgram" class="custom-program-btns">
            <ion-button id="edit-program-btn"
                        (click)="editCustomProgram()"
                        expand="block">Edit</ion-button>
            <ion-button id="delete-program-btn"
                        (click)="deleteCustomProgram()"
                        expand="block"
                        color="danger">Clear</ion-button>
        </ion-row>
    </form>
</ng-container>
