<ng-container *ngFor="let page of items">
    <ion-item *ngIf="page.link"
              routerDirection="root"
              [routerLink]="page.link"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{exact:true}">
        <ng-container *ngIf="page.icon">
            <ion-icon size="large" slot="start" [icon]="page.icon"></ion-icon>
        </ng-container>
        <ng-container *ngIf="page.src">
            <ion-icon size="large" slot="start" [src]="page.src"></ion-icon>
        </ng-container>
        <ng-container *ngIf="page.img">
            <ion-avatar slot="start">
                <img [src]="page.img">
            </ion-avatar>
        </ng-container>
        <ion-label>{{page.label}}</ion-label>
    </ion-item>
    <ion-item *ngIf="page.href" [href]="page.href">
        <ng-container *ngIf="page.icon">
            <ion-icon size="large" slot="start" [icon]="page.icon"></ion-icon>
        </ng-container>
        <ng-container *ngIf="page.src">
            <ion-icon size="large" slot="start" [src]="page.src"></ion-icon>
        </ng-container>
        <ng-container *ngIf="page.img">
            <ion-avatar slot="start">
                <img [src]="page.img">
            </ion-avatar>
        </ng-container>
        <ion-label>{{page.label}}</ion-label>
    </ion-item >
    <ion-item *ngIf="page.scrollID" (click)="scrollPage(page.scrollID)">
        <ng-container *ngIf="page.icon">
            <ion-icon size="large" slot="start" [icon]="page.icon"></ion-icon>
        </ng-container>
        <ng-container *ngIf="page.src">
            <ion-icon size="large" slot="start" [src]="page.src"></ion-icon>
        </ng-container>
        <ng-container *ngIf="page.img">
            <ion-avatar slot="start">
                <img [src]="page.img">
            </ion-avatar>
        </ng-container>
        <ion-label>{{page.label}}</ion-label>
    </ion-item>
</ng-container>