<ion-grid>
    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-row>
            <mat-form-field>
                <mat-label>Workout Name</mat-label>
                <input matInput type="text" [formControl]="name" name="name"
                       placeholder=""
                       autocomplete="off"
                       enterKeyHint="next"
                       required>
                <div mat-icon-button matSuffix [hidden]="this.defaultValue === undefined">
                    <mat-icon [ngStyle]="{'color': nameHasChanged() ? 'orange':'green'}">adjust</mat-icon>
                </div>
                <mat-error *ngIf="name.hasError('required')">Name is required.</mat-error>
                <mat-error *ngIf="name.hasError('entityIDTaken')">A workout named {{name.value}} already exists
                </mat-error>
                <mat-error *ngIf="name.hasError('couldNotReachServer')">Could not reach server. Please check your
                    connection and try again.</mat-error>
                <mat-hint *ngIf="getSlug(name.value).length > 0 && name.enabled && !isCustom">This link will be at
                    /workout/{{getSlug(name.value)}}
                </mat-hint>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <mat-form-field>
                <mat-label>Standard Phase</mat-label>
                <input type="checkbox">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Interval Phase</mat-label>
                <input type="checkbox">
            </mat-form-field>
        </ion-row>

        <ion-row>
            <ion-spinner [hidden]="standardExercises.dirty || (exerciseList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(exerciseList$ | async).length === 0">
                <mat-label>Exercises</mat-label>
                <mat-select multiple [formControl]="standardExercises" name="standardExercises" [compareWith]="compareExercises">
                    <mat-option *ngFor="let exercise of (exerciseList$ | async)"
                                [value]="exercise">{{exercise.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="standardExercises.hasError('required')">At least one Exercise is required.</mat-error>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <ion-col sizeXs=12 sizeSm=12 sizeMd=4 [hidden]="orderedList.length == 0">
                <ion-label>Exercise Order:</ion-label>
                <div cdkDropList (cdkDropListDropped)="drop($event)" class="ordered-list">
                    <div *ngFor="let exercise of orderedList" cdkDrag class="ordered-box">
                        <ion-label>{{exercise.name}}</ion-label>
                    </div>
                </div>
            </ion-col>
            <ion-col sizeXs=12 sizeSm=12 sizeMd=8>
                <div *ngFor="let routineControl of standardExerciseRoutines.controls; let i = index">
                    <ion-label>{{getExerciseName(i)}}</ion-label>
                    <form [formGroup]="routineControl">
                        <ion-row>
                            <ion-col size="4">
                                <mat-form-field>
                                    <mat-label>Sets</mat-label>
                                    <input matInput type="text" [formControl]="routineControl.get('sets')"
                                           name="sets"
                                           pattern="[0-9\-]+"
                                           placeholder="0"
                                           autocomplete="off"
                                           enterKeyHint="next">
                                </mat-form-field>
                            </ion-col>
                            <ion-col size="4">
                                <mat-form-field>
                                    <mat-label>Reps</mat-label>
                                    <input matInput type="text" [formControl]="routineControl.get('reps')"
                                           name="reps"
                                           pattern="[0-9\-]+"
                                           placeholder="0"
                                           autocomplete="off"
                                           enterKeyHint="next">
                                </mat-form-field>
                            </ion-col>
                            <ion-col size="4">
                                <mat-form-field>
                                    <mat-label>%1RM</mat-label>
                                    <input matInput type="text" [formControl]="routineControl.get('%1rm')"
                                           name="%1rm"
                                           pattern="[0-9\-]+"
                                           placeholder="0"
                                           autocomplete="off"
                                           enterKeyHint="next">
                                </mat-form-field>
                            </ion-col>
                            <ion-col size="4">
                                <mat-form-field>
                                    <mat-label>RPE</mat-label>
                                    <input matInput type="text" [formControl]="routineControl.get('rpe')" name="rpe"
                                           pattern="[0-9\-]+"
                                           placeholder="0"
                                           autocomplete="off"
                                           enterKeyHint="next">
                                </mat-form-field>
                            </ion-col>
                            <ion-col size="4">
                                <mat-form-field>
                                    <mat-label>Tempo</mat-label>
                                    <input matInput type="text" [formControl]="routineControl.get('tempo')"
                                           name="tempo"
                                           pattern="[0-9\-]+"
                                           placeholder="0"
                                           autocomplete="off"
                                           enterKeyHint="next">
                                </mat-form-field>
                            </ion-col>
                            <ion-col size="4">
                                <mat-form-field>
                                    <mat-label>Rest</mat-label>
                                    <input matInput type="text" [formControl]="routineControl.get('rest')"
                                           name="rest"
                                           pattern="[0-9\-]+"
                                           placeholder="0"
                                           autocomplete="off"
                                           enterKeyHint="next">
                                </mat-form-field>
                            </ion-col>
                        </ion-row>
                    </form>
                </div>
            </ion-col>

            <ion-col sizeXs=12 sizeSm=12 sizeMd=8>
                <div *ngFor="let routineControl of intervalSupersets.controls; let i = index">
                    <ion-label>Interval Routines</ion-label>
                    <form [formGroup]="routineControl">
                        <ion-row>
                            <ion-col size="4">
                                <mat-form-field>
                                    <mat-label>Sets</mat-label>
                                    <input matInput type="number" [formControl]="routineControl.get('sets')"
                                           enterKeyHint="next">
                                </mat-form-field>
                            </ion-col>
                            <!-- <div *ngFor="let nextLevelControl of routineControl; let j = index">
                                <ion-col size="4">
                                    <mat-form-field>
                                        <mat-label>Duration (in seconds)</mat-label>
                                        <input matInput type="number" [formControl]="routineControl.get('duration')"
                                                placeholder="30"
                                               enterKeyHint="next">
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Reps</mat-label>
                                        <input matInput type="text" [formControl]="routineControl.get('reps')"
                                               name="reps"
                                               placeholder="AMRAP"
                                               autocomplete="off"
                                               enterKeyHint="next">
                                    </mat-form-field>
                                </ion-col>
                            </div> -->
                        </ion-row>
                    </form>
                </div>
            </ion-col>
        </ion-row>
        <ion-button type="submit"
                    [disabled]="form.invalid || (requestInProgress$ | async)"
                    expand="full">
            <ion-icon name="fitness"></ion-icon>&nbsp;{{buttonText}}
        </ion-button>
    </form>
</ion-grid>
