<ion-grid>
    <ion-row>
        <ion-col size=6>
            <mat-checkbox [(ngModel)]="standardPhaseEnabled" >Standard</mat-checkbox>
        </ion-col>
        <ion-col size=6>
            <mat-checkbox [(ngModel)]="intervalPhaseEnabled">Interval</mat-checkbox>
        </ion-col>
        
    </ion-row>

    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-row>
            <mat-form-field>
                <mat-label>Workout Name</mat-label>
                <input matInput type="text" [formControl]="name" name="name"
                       placeholder=""
                       autocomplete="off"
                       enterKeyHint="next"
                       required>
                <div mat-icon-button matSuffix [hidden]="this.defaultValue === undefined">
                    <mat-icon [ngStyle]="{'color': nameHasChanged() ? 'orange':'green'}">adjust</mat-icon>
                </div>
                <mat-error *ngIf="name.hasError('required')">Name is required.</mat-error>
                <mat-error *ngIf="name.hasError('entityIDTaken')">A workout named {{name.value}} already exists
                </mat-error>
                <mat-error *ngIf="name.hasError('couldNotReachServer')">Could not reach server. Please check your
                    connection and try again.</mat-error>
                <mat-hint *ngIf="getSlug(name.value).length > 0 && name.enabled && !isCustom">This link will be at
                    /workout/{{getSlug(name.value)}}
                </mat-hint>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput type="text" [formControl]="description" name="description"
                       placeholder=""
                       autocomplete="off"
                       enterKeyHint="next"></textarea>
            </mat-form-field>
        </ion-row>




        <ion-row [hidden]="!standardPhaseEnabled">
            <app-standard-phase-form #standardPhase [workout]="workout"></app-standard-phase-form>
        </ion-row>

        <ion-row [hidden]="!intervalPhaseEnabled">
            <app-interval-phase-form #intervalPhase [workout]="workout"></app-interval-phase-form>
        </ion-row>

        <ion-button type="submit"
                    [disabled]="form.invalid || (requestInProgress$ | async) "
                    expand="full">
            <ion-icon name="fitness"></ion-icon>&nbsp;{{buttonText}}
        </ion-button>
    </form>
</ion-grid>
