<ion-grid>
    <form [formGroup]=form (ngSubmit)=onSubmit(form.value)>
        <ion-row>
            <mat-form-field>
                <mat-label>Workout Name</mat-label>
                <input matInput type="text" [formControl]="name" name="name"
                       placeholder=""
                       autocomplete="off"
                       enterKeyHint="next"
                       required>
                <mat-error *ngIf="name.hasError('required')">Name is required.</mat-error>
                <mat-error *ngIf="name.hasError('entityIDTaken')">A workout named {{name.value}} already exists</mat-error>
                <mat-error *ngIf="name.hasError('couldNotReachServer')">Could not reach server. Please check your
                    connection and try again.</mat-error>
                <mat-hint *ngIf="getSlug(name.value).length > 0 && name.enabled">This link will be at /workout/{{getSlug(name.value)}}
                </mat-hint>
                <mat-hint *ngIf="name.disabled">Cannot edit the name of an existing workout</mat-hint>
            </mat-form-field>
        </ion-row>

        <ion-row>
            <ion-spinner [hidden]="exercises.dirty || (exerciseList$ | async).length !== 0"></ion-spinner>
            <mat-form-field [hidden]="(exerciseList$ | async).length === 0">
                <mat-label>Exercises</mat-label>
                <mat-select multiple [formControl]="exercises" name="exercises">
                    <mat-option *ngFor="let exercise of (exerciseList$ | async)"
                                [value]="exercise">{{exercise.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="exercises.hasError('required')">At least one Exercise is required.</mat-error>
            </mat-form-field>
        </ion-row>

        <ng-container *ngFor="let routineControl of exerciseRoutines.controls; let i = index">
            <ion-label>{{getExerciseName(i)}}</ion-label>
            <form [formGroup]="routineControl">
                <ion-row>
                    <ion-col size="3">
                        <mat-form-field>
                            <mat-label>Sets</mat-label>
                            <input matInput type="text" [formControl]="routineControl.get('sets')" name="sets"
                                   pattern="[0-9\-]+"
                                   placeholder="0"
                                   autocomplete="off"
                                   enterKeyHint="next">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field>
                            <mat-label>Reps</mat-label>
                            <input matInput type="text" [formControl]="routineControl.get('reps')" name="reps"
                                   pattern="[0-9\-]+"
                                   placeholder="0"
                                   autocomplete="off"
                                   enterKeyHint="next">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field>
                            <mat-label>Minutes</mat-label>
                            <input matInput type="text" [formControl]="routineControl.get('minutes')" name="minutes"
                                   pattern="[0-9\-]+"
                                   placeholder="0"
                                   autocomplete="off"
                                   enterKeyHint="next">
                        </mat-form-field>
                    </ion-col>
                    <ion-col size="3">
                        <mat-form-field>
                            <mat-label>Seconds</mat-label>
                            <input matInput type="text" [formControl]="routineControl.get('seconds')" name="seconds"
                                   pattern="[0-9\-]+"
                                   placeholder="0"
                                   autocomplete="off"
                                   enterKeyHint="next">
                        </mat-form-field>
                    </ion-col>
                </ion-row>
            </form>
        </ng-container>

        <ion-button type="submit"
                    [disabled]="form.invalid || (requestInProgress$ | async)"
                    expand="full">
            <ion-icon name="fitness"></ion-icon>&nbsp;{{buttonText}}
        </ion-button>
    </form>
</ion-grid>
