<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button defaultHref="/programs"></ion-back-button>
        </ion-buttons>
        <ion-title>Program</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="program$ | async as program">
        <h1 class="program-name">{{program.name}}</h1>
        <ion-grid *ngFor="let phase of program.phases; let phaseIndex = index;">
            <h2>{{phase.lengthInWeeks > 1 ? 'Phase': 'Week'}} {{phaseIndex + 1}}</h2>
            <ion-label [hidden]="phase.lengthInWeeks <= 1">Length: {{phase.lengthInWeeks}} weeks</ion-label>
            <ion-row>
                <ion-col sizeLg="3" sizeMd="4" sizeSm="6" sizeXs="12" *ngFor="let day of getDayList(); let dayIndex = index;">
                    <ng-template let-workout [ngTemplateOutletContext]="{ $implicit: phase.schedule[day] }"
                                 [ngTemplateOutlet]="t" #t>
                        <ion-label>Day {{dayIndex + 1}}</ion-label>
                        <workout-preview *ngIf="workout"
                                         [workout]=workout
                                         [routerLink]="'/workouts/' + workout.id "></workout-preview>
                        <ion-label *ngIf="!workout">
                            <h1>Rest</h1>
                        </ion-label>
                    </ng-template>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ng-container *ngIf="isTrainer$ | async">
            <ion-button color="primary" (click)="showEditModal()">Edit</ion-button>
            <ion-button color="danger" (click)="showActionSheetToDelete()">Delete</ion-button>
        </ng-container>
    </ng-container>

</ion-content>
