<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="routeID" defaultHref="/clients"></ion-back-button>
            <ion-back-button *ngIf="!routeID" defaultHref="/dashboard"></ion-back-button>
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="thisIsMe$ | async" (click)="presentModal()">Update Profile</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid *ngIf="profile$ | async as profile else noProfile" text-center>
        <ion-avatar>
            <img [src]='getAvatar(profile)' />
        </ion-avatar>

        <h1 class="name">{{profile.firstName}} {{profile.lastName}}</h1>

        <ion-note>USER ID: {{profile.id}}</ion-note>
        <ion-list>
            <ion-item>Sex: {{profile.sex}}</ion-item>
            <ion-item>Height: {{profile.height.feet}}" {{profile.height.inches}}"</ion-item>
            <assign-trainer [profile]="profile"></assign-trainer>
        </ion-list>


        <ng-container *ngIf="(thisIsMe$ | async)">
            <cancel-subscription></cancel-subscription>
            <my-charges></my-charges>
            <!-- <my-sources></my-sources> -->
            <!-- <logout-button>Log out</logout-button> -->
        </ng-container>

    </ion-grid>

    <ng-template #noProfile>
        <ng-container *ngIf="(requestInProgress$ | async)">
            <ion-grid>

                <ion-avatar>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-avatar>

                <ion-item>Sex: <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>
                <ion-item>Height: <ion-skeleton-text animated></ion-skeleton-text>
                </ion-item>

            </ion-grid>
        </ng-container>
        <ng-container *ngIf="!(requestInProgress$ | async)">
            <h1>Profile Failed to load</h1>
            <ion-button (click)="retryLoad()">Click to retry</ion-button>
        </ng-container>
    </ng-template>


</ion-content>
