<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>Reviews</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <upload-video [hidden]="hideUpload"></upload-video>
    <!-- <ion-list>
        <video controls *ngFor="let review of reviews$ | async" [src]="review.downloadURL"></video>
    </ion-list> -->
    <review-list *ngIf="clientID" [clientID]="clientID"></review-list>
</ion-content>