<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Create Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <form [formGroup]=form (ngSubmit)=onSubmit(form.value) autocomplete="on">
            <ion-row>
                <mat-form-field>
                    <mat-label for='firstName'>First Name</mat-label>
                    <input matInput type="text" [formControl]="firstName" name="given-name"
                           autocomplete="on"
                           enterKeyHint="next"
                           required>
                    <mat-error *ngIf="firstName.hasError('required')">Your first name is required.</mat-error>
                </mat-form-field>
            </ion-row>

            <ion-row>
                <mat-form-field>
                    <mat-label for='lastName'>Last Name</mat-label>
                    <input matInput type="text" [formControl]="lastName" name="family-name"
                           autocomplete="on"
                           enterKeyHint="next"
                           required>
                    <mat-error *ngIf="lastName.hasError('required')">Your last name is required.</mat-error>
                </mat-form-field>
            </ion-row>

            <ion-label>Height</ion-label>
            <ion-row>
                <mat-form-field class="half-width">
                    <mat-label for='feet'>Feet</mat-label>
                    <input matInput type="number" [formControl]="feet" name="feet"
                           enterKeyHint="next"
                           required>
                    <mat-error *ngIf="feet.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="feet.hasError('min') || feet.hasError('max')">Enter a number between 3 and 7
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label for='inches'>Inches</mat-label>
                    <input matInput type="number" [formControl]="inches" name="inches"
                           enterKeyHint="next"
                           required>
                    <mat-error *ngIf="inches.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="inches.hasError('min') || feet.hasError('max')">Enter a number between 0 and 11
                    </mat-error>
                </mat-form-field>
            </ion-row>

            <ion-row>
                <mat-form-field>
                    <mat-label>Birthday</mat-label>
                    <input matInput [matDatepicker]="picker" name="bday" autocomplete="on" formControlName="birthday" enterKeyHint="done">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="lastName.hasError('required')">Your birthday is required.</mat-error>
                </mat-form-field>
            </ion-row>

            <ion-row>
                <mat-radio-group aria-label="Select an option" formControlName="sex" autocomplete="sex">
                    <mat-radio-button value="M" autocomplete="sex">Male</mat-radio-button>
                    <mat-radio-button value="F" autocomplete="sex">Female</mat-radio-button>
                </mat-radio-group>
            </ion-row>

            
            <ion-button type="submit" [disabled]="form.invalid || (requestInProgress$ | async)" expand="full">Create
                Profile!</ion-button>
        </form>
    </ion-grid>
</ion-content>
