.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

mat-radio-group{
    margin: 0 auto;
}

ion-button[type=submit] {
    margin-top: 100px;
}


mat-form-field.half-width {
    width: 45%;
    margin-right: 2%;
}