<ion-card>
    <ng-container *ngIf="exercise.youtubeID && exercise.youtubeID !== '' else noVideoURL">
        <img [src]="getYoutubeThumbnail()"/>
    </ng-container>
    <ng-template #noVideoURL>
        <ion-note>No video URL ⚠️</ion-note>
    </ng-template>
    <ion-card-header>
        <ion-card-title class="name" [innerHtml]="exercise.name | highlight: highlights"></ion-card-title>
        <div class="ion-text-center" *ngIf="!exercise.instructions || (exercise.instructions && exercise.instructions.length === 0)">
            <ion-note>No instructions ⚠️</ion-note>
        </div>
        <ion-card-subtitle>{{notes}}</ion-card-subtitle>
    </ion-card-header>
</ion-card>
