<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
            <ion-back-button defaultHref="/profile"></ion-back-button>
        </ion-buttons> -->
        <ion-title>Join Strength Rx Protocols Today!</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header ion-text-center>
            <ion-row>
                <ion-col>
                    <img class="header-img" src="/assets/img/david_tiff3.JPG" />
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Plan</ion-label> Strength Rx Pro Membership
            </ion-item>
            <ion-item>
                <ion-label>Price</ion-label> $29 USD per period
            </ion-item>
            <ion-item>
                <ion-label>Billing Period</ion-label> 1 month
            </ion-item>
        </ion-card-content>
        <ion-footer>
            <ion-item>
                <ion-label>Total due today</ion-label>$29.00
            </ion-item>
        </ion-footer>
    </ion-card>
    <buy-subscription></buy-subscription>
</ion-content>
